palette {
    color: #040316; /*Texto*/
    color: #fbfbfe; /*Fondo*/
    color:#ffd900; /*Primario*/
    color: #58c8d0; /*Secundario*/
    color: #9c111f; /*Acento*/
}
fonts {
    font-family: Poppins; /*Para títulos*/
    font-family: Nunito; /*Para cuerpo*/
    font-family: playfair-display; /*Para algún detalle*/
}
ideas {
    /*
        AGREGAR UNA TIENDA CON "ITEMS LEGENDARIOS BÍBLICOS",
        Y QUE AL COMPRARLOS TE DIGA LA CITA DE DONDE SALEN
    */
}
slogan {
    text-rendering:  Sabios, el que no sabe, aprende…; /*Slogan*/
    text-rendering:  Sabios, el que sabe, gana El que no sabe, aprende…; /*Slogan*/
    text-rendering:  Pon a prueba tu fe, pero no pongas a prueba a Dios;
    text-rendering:  Si no sabes la respuesta, reza un Ave María y sigue jugando;
    text-rendering: La fe es la clave, la trivia la prueba, ¡y en Sabios, tu mente se eleva!;
    text-rendering: Sabios, ¡Pero no tanto!;
}
body{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(160deg, #9c111f, #c46113);
    height: 100vh;
    justify-items: center;
    align-content: center;
    margin: 0;
}
h1 {
    font-family: 'Poppins', sans-serif;
    color: #9c111f;
    font-size: 19vh;
    margin: auto;
}
h2 {
    font-family: 'Poppins', sans-serif;
    color: #9c111f;
    font-size: 6vh;
    margin: auto;
}
h3 {
    font-family: 'Poppins', sans-serif;
    color: #9c111f;
    font-size: 4vh;
    margin: auto;
}
h4 {
    font-family: 'Poppins', sans-serif;
    color: #9c111f;
    font-size: 25px;
    margin: auto;
}
button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 3vh;
    background-color: #ffd900;
    color: #040316;
    border: none;
    cursor: pointer;
    border-radius: 200px;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    transition: ease 0.3s;
    
}
button:hover {
    background-color: #e6c000;
    transform: scale(1.03);

}

@keyframes parpadeo {
    0% { background-color: greenyellow; transform: scale(1); }
    50% { background-color: #ffd900; transform: scale(1.03); }
    100% { background-color: greenyellow; transform: scale(1); }
}

.correcta {
    animation: parpadeo 0.4s infinite alternate;
}

#barraProgreso {
    width: 100%;
    height: 15px;
    background-color: #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

#progreso {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s;
}

#botones {
    margin-top: 4vh;
}

#dificultades {
    display: flex;
    width: 80%;
    margin: auto;
    font-size: 25px;
    background-color: #ffd900;
    color: #040316;
    border: none;
    cursor: pointer;
    border-radius: 200px;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    transition: background 0.3s;
}
.tarjeta {
    background-color: #fafafa;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 55%;
    padding: 0% 2% 2% 2%;
    border-radius: 10px;
}
#categoria {
    margin: 30px 0 0 0;
    font-style: italic;
    color: #9c111f88;
}
#vidas {
    font-size: 4vh;
    margin-right: 10vh;
}

#puntaje {
    font-size: 4vh;
    margin-right: 10vh;
}

#tiempo {
    font-size: 4vh;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 10vh;
    }
    h3{
        font-size: 2vh;
    }
    .tarjeta {
        width: 85%;
    }
    #pregunta {
        font-size: 25px;
        text-align: center;
    }
    #categoria {
        font-size: 25px;
    }
    .opciones {
        flex-direction: column;
    }
    button {
        font-size: 16px;
        padding: 10px;
    }
    #vidas {
        font-size: 3vh;
        margin-right: 1vh;
    }
    
    #puntaje {
        font-size: 3vh;
        margin-right: 1vh;
    }
    
    #tiempo {
        font-size: 3vh;
    }

    #botones {
        margin-top: 0vh;
    }
}

/* Dispositivos medianos (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .pregunta {
        font-size: 20px;
    }
    button {
        font-size: 18px;
    }
}
